<a href="/articulos/crear">crear articulo</a>
 
<ul>{{#each articulos}}
<li>
    <a href="articulos/{{id}}/editar">Editar</a>
    {{this.titulo}} - {{this.contenido}} - {{this.categoria}}
</li>
{{/each}}</ul>